.container {
  height: 100vh;
  display: flex;
  place-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  max-width: 400px;
  flex: 1;
  padding: 42px 25px 0 25px;
  background-color: var(--color-pink);
  overflow-x: hidden;
  overflow-y: scroll;
}

.releasesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;

  .sectionTitle {
    margin-top: 0;
    align-self: center;
  }
}

.releases {
  margin-top: 20px;
  width: 100%;
}

.sectionTitle {
  font-weight: 500;
  font-size: 0.8rem;
  align-self: flex-start;
  margin-top: 22px;
  font-size: 14px;
  letter-spacing: 1px;
}

.link {
  border-bottom: solid 3px var(--color-violet);
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
