.card {
  width: 100%;
  box-shadow: 4px 4px 0px var(--color-violet);
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 90px 1fr 70px;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  border: 2px solid var(--color-violet);
  margin-bottom: 15px;
  min-height: 85px;
  overflow: hidden;
  column-gap: 3px;
  cursor: pointer;
}

.card:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.overviewContainer {
  border: 2px solid var(--color-black);
  border-radius: 10px;
  overflow: hidden;
  margin: 11px 8px;
  grid-row: 1 / -1;
}

.title {
  align-self: center;
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 10px;
}

.price,
.timeBox {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-violet);
  margin-top: -2px;
}

.arrowBtn,
.lockBtn {
  display: flex;
  align-items: center;
  place-content: center;
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  background-color: var(--color-green);
}

.lockBtn {
  background-color: var(--color-white);
  span {
    background-color: var(--color-green);
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-black);
  }
}

.timeBox {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 5px;
}
.play {
  border-radius: 50%;
  border: 1px solid var(--color-black);
  width: 15px;
  height: 15px;
  padding: 3px;
  display: flex;
}
.time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 1px;
  color: #403f3f;
  margin-left: 5px;
  margin-top: 1px;
}
