.circle {
  width: 40px;
  height: 40px;
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--color-black);
  user-select: none;
}

.bordered {
  box-shadow: 2px 2px 0px var(--color-black);
}

.circle:hover {
  background-color: var(--color-lightgreen);
}

.circle.bordered:active {
  background-color: var(--color-lightgreen);
  transform: translate(2px, 2px);
  box-shadow: none;
}
